<div class="center">
    <h4>Comment jouer une partie?</h4>

        <p>Au début la PoterAI  pioche une personnage au hasard qui correspond au personnage que vous devez deviner. </p>
        
        <p>Pour commencer il faut poser la première question.</p>
        
       <p> <strong> ATTENTION : Chaque question posée par les joueurs doit permettre à la PoterAI de répondre par OUI ou par NON !!!</strong></p>
        
        
         
        <p>Exemple de questions : Est ce que ton personnage a les cheveux bouclés ?</p>
        
        <p>Si la réponse à la question est OUI dans ce cas tous les personnages qui ont les cheveux raides ou encore les personnages chauves seront baissés.</p>
        
        <p>Si la réponse est NON alors seulement les personnages qui ont les cheveux bouclés seront baissés.</p>
        
        <p>Lorsqu’un joueur pense avoir identifié le personnage de la PoterAI il doit attendre que ce soit son tour. Si la réponse donnée est fausse la partie continue. Si elle est bonne vous gagnez la partie.</p>
        
        <h4>Gagner au Qui est-ce Harry Potter?</h4> 
        
        <p>Il faut trouver le personnage de la la PoterAI et ça plus vite possible.</p>
        
</div>
