<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
  
      <button routerLink="/game" class="btn btn-outline-dark me-2" type="button">
        <h5>Lancer une partie</h5>
      </button>
      <button routerLink="/regles" class="btn btn-outline-dark me-2" type="button">
        <h5>Les règles</h5>
      </button>
  
      <a class="navbar-brand" href="#"><img src="../../assets/img/logo1.png" alt="" width="60" height="50"
          class="d-inline-block align-text-top"></a>
  
    </div>
  </nav>