<div class="center">
    <h2>Bienvenue</h2>
    <h1> Qui est ce Harry Potter ?</h1>
    <img src="../../assets/img/logohp.png" alt="" width="180" height="150"
          class="d-inline-block align-text-top">
    <h5>Le meilleur jeu de 7 à 77 ans.</h5>
    <h5>Issue du jeu de société phénomène "Qui est ce?" et adapté avec la série litéraire Harry Potter.</h5>
    <h5>Viens te mesurer à la PotterIA et essaye de gagner!</h5>

    <br>

    <button routerLink="/game" class="btn btn-warning me-2" type="button">
        <h5>Lancer une partie</h5>
      </button>


</div>